@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Şirket Ekleme Sayfası</h1>
<br />

<form class="form-group" method="post">
    <input type="text" placeholder="Şirket Adı" name="CompanyName" class="form-control" />
    <br />
    <input type="text" placeholder="Vergi Dairesi" name="TaxAdministration" class="form-control" />
    <br />
    <input type="text" placeholder="Vergi Numarası" name="TaxNumber" class="form-control" />
    <br />
    <input type="text" placeholder="Adres" name="Address" class="form-control" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>