
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>Çalışan Ekleme Sayfası</h1>
<br />

<form class="form-group" method="post">
    <input type="text" placeholder="İsim" name="Name" class="form-control" />
    <br />
    <input type="text" placeholder="Soyisim" name="Surname" class="form-control" />
    <br />
    <input type="text" placeholder="T.C Numarası" name="TC" class="form-control" />
    <br />
    <input type="text" placeholder="Şirket Adı" name="CompanyName" class="form-control" />
    <br />
    <button class="btn btn-primary">Ekle</button>
    
</form>
